.heading {
	color: red;
	text-align: center;
	font-size: 56px;
}

li {
	font-size: 24px;
	font-family: Verdana, "Times New Roman", sans-serif;
}

li.recipe:hover{
	font-size: 48px;
	font-family: Arial;
	background-color: RGB(200,200,200);
}
