h1 {
	color: red;
	text-align: center;
	font-size: 72px;
}

li{
	font-size: 24px;
	font-family: Verdana, "Times New Roman", sans-serif;
}

li.pizza {
	background-color: RGB(200,200,250);
	font-size: 48px;
	font-family: Arial;
	/* margin: 0px;
	padding-left: 20px;
	background-image: src="./img/pizza.webp" alt="Picture of Margeherita Pizza";
		background-repeat: no-repeat; */
}